
.posts {
    padding: 20px;
}

.postsList{
    padding-top: 10px;
}

.newPost{
    display: flex;
    flex-direction: column;
}

.textarea{
    font-family: inherit;
    font-size: 15px;
    resize: none;
    height: 100px;
    max-width: 500px;
    background: #f8f9fa;
    border: 1px solid #dde4e7;
    color: #114356;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: #d53a3a;
    font-weight: 700;
    width: 250px;
    height: 44px;
    padding: 5px;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: .3s all;
    border: 0;
    margin-bottom: 15px;
    border-radius: 4px;
}

.button:hover{
    background-color: #a9000b;
}