.item{
    display: flex;
    width: 500px;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}

.avatar{
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #a7bec4;
    margin-right: 20px;
    flex-shrink: 0;
}

.text{
    font-size: 15px;
    color: #666;
    line-height: 1.4;
}

.likes{
    position: absolute;
    color: #606770;
    font-weight: 700;
    font-size: 14px;
    bottom: 5px;
    right: 5px;
    display: flex;
    align-items: flex-end;
}

.likes:before{


    content: '';
    display: inline-block;
    background: url("https://images.vexels.com/media/users/3/157338/isolated/preview/4952c5bde17896bea3e8c16524cd5485-facebook-like-icon-by-vexels.png");
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}