*{
  box-sizing: border-box;
  outline: none;
}

a{
  color: white;
  font-size: 15px;
  text-decoration: none;
}

a:hover{
  color: #ffd352;
}


.App {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;

  grid-template-areas:
  "header header"
  "sidebar main"  ;
}

.main{
  grid-area: main;
  max-height: calc(100vh - 50px);
  overflow: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icons{
  display: flex;
  flex-wrap: wrap;
}

.icon{
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: center center;

  margin-right: 5px;
}

.icon:last-child{
  margin-right: 0;
}

.icon--facebook{
  background-image: url('assets/images/icons/facebook.png');
}
.icon--github{
  background-image: url('assets/images/icons/github.png');
}
.icon--vk{
  background-image: url('assets/images/icons/vk.png');
}
.icon--instagram{
  background-image: url('assets/images/icons/instagram.png');
}
.icon--twitter{
  background-image: url('assets/images/icons/twitter.png');
}
.icon--youtube{
  background-image: url('assets/images/icons/youtube.png');
}
.icon--website{
  background-image: url('assets/images/icons/website.png');
}