*{
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;

  grid-template-areas:
  "header header"
  "sidebar main"  ;
}

.header{
/*  width: 100%;*/
  height: 50px;
  background-color: #4c547a;
  /*text-align: center;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 position: fixed;
 top: 0;
 left: 0;*/
  padding: 0 15px;

  grid-area: header;

}

.logo{
  max-width: 70px;
}

.main{
  padding: 0 15px;
  grid-area: main;
}

.sidebar{
  grid-area: sidebar;
  height: calc(100vh - 50px);
  background-color: #323c44;
}

.navigation{
  padding: 20px;

  display: flex;
  flex-direction: column;
}

a{
  color: white;
  font-size: 15px;
  padding: 0 5px;
  text-decoration: none;
}

a:hover{
  color: #ffd352;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
