.dialogs{
    display: flex;
    height: 100%;
}


.usersList{
    width: 300px;
    background-color: #eeeeee;
}

.dialogsList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dialog{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

